%% DEFINES PREPROCESSING STEPS&OPTIONS
%% see "help run_preproc" for details
%%

  %  DEFAULT PREPROCESSING PIPELINE TO MNI SPACE
  %  REALIGNMENT + ART + DIRECT NORMALIZATION + aCOMPCOR ESTIMATION + SMOOTH
  %
  % inputs
  %         : functional data (use #dicom and/or #functional fields to define dicom/nifti functional data)
  % main outputs 
  %         : normalized functional data (e.g. wr[ROOTFILE])
  %         : normalized and 4mm smoothed functional data (e.g. swr[ROOTFILE])
  % other useful outputs
  %         : aCompCor/scrubbing/realignment parameters for 1st-level models (e.g. dp_wr[ROOTFILE].txt)
  %         : normalization deformation field (e.g. y_art_mean_r[ROOTFILE])
  %         : normalization inverse deformation field (e.g. iy_art_mean_r[ROOTFILE])
  %         : functional segmentation tissue probability maps in normalized space (e.g. wc1art_mean_r[ROOTFILE])
  %         : realignment subject-motion files (e.g. rp_[ROOTFILE].txt)
  %         : outlier identification files (e.g. art_regression_outliers_r[ROOTFILE].mat)
  %         : normalized mean-functional without outlier scans (e.g. wart_mean_r[ROOTFILE].nii)


  %% preprocessing steps
  %  enter preprocessing steps in desired order
#steps
functional_label_as_original
functional_realign
functional_center
functional_art
functional_label_as_subjectspace
functional_segment&normalize_direct
functional_label_as_mnispace
functional_regression
functional_smooth
functional_label_as_minimallysmoothed

  %% additional info
  %  enter any aditional info required for the steps selected above

#fwhm
4

#reg_names
realignment
scrubbing
White Matter
CSF

#reg_dimensions
inf
inf
5
5

#reg_deriv
1
0
0
0

% reg_skip = 1: computes "denoise" covariates  (to be used during 1st-level model) instead of denoising functional datafiles
#reg_skip
1






