  %% preprocessing steps
  %  enter preprocessing steps in desired order
#steps
functional_regression
functional_label_as_denoised
functional_bandpass
functional_label_as_filtered

  %% additional info
  %  enter any aditional info required for the steps selected above

#reg_names
realignment
scrubbing
White Matter
CSF

#reg_dimensions
inf
inf
5
5

#reg_deriv
1
0
0
0

#bp_filter
0.01
0.10
